<nav class='navbar navbar-default'>
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- Logo -->
			<a href="/"><p class="navbar-text"><span class="bluegrey">friend</span><span class="white">indeed</span></p></a>
		</div>

		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
			<ul class="nav navbar-nav">
				<li class="active"><span class="sr-only">(current)</span></li>
				<li><%= link_to "profile", current_user, class: "li_override" %></li>
				<li><%= link_to "how to use", about_path, class: "li_override" %></li>
				<li><%= link_to "connections", connections_path, class: "li_override" %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right link-margin-override">
				<% if current_user %>
				Welcome <%= link_to current_user.name, current_user, class: "link_override" %>! | <%= link_to "Sign out", signout_path, class: "link_override" %>
				<% end %>	
			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<hr id="nav_line">
