<script>

// Javascript Code for Facebook Share button
FB = null;
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  // if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1410296982600187&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

 $(document).ready(function(){
    	$('#share_button').click(function(e){
    		e.preventDefault();
    		FB.ui(
    		{
    			method: 'share',
    			href: 'https://friendindeed.herokuapp.com/?ref_id=<%= @user.token %>',
    		}, function(response){});
    	});
    });
  
</script> 

  <div class="container-fluid">
	<%= render "partials/nav" %>
	<%= render "partials/deedmodal" %>

	<div class="col-md-6 col-md-offset-3 bg">				
		<!-- User Profile Title Bar -->
		<h1><%= @user.name %>'s profile</h1>

		<!-- User account type: Original User or Invited by -->
		<% if !!@referrer %>
		<h4>Invited by <%= link_to @referrer.name, user_path(@referrer), class: "invited_link" %></h4>
		<% end %>

		<hr>					

		<div class="col-md-5 col-md-offset-1">
			<div class="profilepic_box">
				<%= image_tag(@user.large_fb_image) %>

				<div class="btn-box">
					<% if @user == current_user %>

					<!-- Facebook Share button -->
					<a id="share_button" target="_blank" class="btn btn-custom-fb"><i class="fa fa-facebook-official fa-1x"></i> &nbsp;Share</a>

					<!-- Create deed button -->
					<button type="button" class="btn btn-custom-alt" data-toggle="modal" data-target="#deed-modal">Create Deed</button>
					<% end %>

					<!-- Show deed button -->
					<%= link_to "View Deeds", user_deeds_path(@user), class: "btn btn-custom-alt" %>

				</div>
			</div>
			<br><!-- Provides cushion at smaller res -->
		</div>

		<div class="col-md-6">
			<div class="peopleInvitedTitle">People Invited</div>
			<% @invited.each do |i| %>
			<div class="peopleInvited"><%= link_to i.name, user_path(i), class: "peopleInvited" %></div>
			<% end %>

		</div>
	</div>
</div>
