<%= render "partials/nav" %>
<%= render "partials/deedmodal" %>

<div class="container-fluid">
	<div class="row-fluid">
		
		<!-- User Profile Title Bar -->
		<h1><%= @user.name %>'s profile</h1>

		<!-- User account type: Original User or Invited by -->
		<% if @referrer == nil %>
		<h4>Original User</h4>
		<% else %>
		<h4>Invited by <%= link_to @referrer.name, user_path(@referrer) %></h4>
		<% end %>
		
		<%= image_tag(@user.large_fb_image) %>


		<!-- Fb Share, Create deed, Show deed buttons -->
		<div class="col-sm-3">
			<% if @user == current_user %>
			<!-- Facebook Share button -->
			<!-- <div class="fb-share-button" data-href="http://tictacdoge.firebaseapp.com/?ref_id=<%= @user.uid %>" data-layout="button"></div> -->
			<a target="_blank" href="https://facebook.com/sharer.php?u=http://tictacdoge.firebaseapp.com/?ref_id=<%= @user.uid %>"><img class="btn-fbshare" src="/assets/fb_share2.svg"></a>
			<br>
			
			<!-- Create deed button -->
			<button type="button" class="btn btn-custom" data-toggle="modal" data-target="#create-deed-modal">Create Deed</button>
			<% end %>
			<br>

			<!-- Show deed button -->
			<%= link_to "Show Deeds", user_deeds_path(@user), class: "btn btn-custom" %>
		</div>

		<!-- D3 Graph -->
		<div class="col-sm-9">
			d3 graph
		</div>
	</div>
</div>
