<div class="navbar navbar-override">
	<div class="friendindeed text-center">
		<p><span class="bluegrey"> friend</span>indeed </p>
	</div>
</div>

<section id="slide-1">
	<div class="row bggrid">
		<div class="col-sm-3">
			<div><h1 class="pagenum">1</h1></div>
		</div>
		<div class="col-sm-9">
			<div class="blah">
				<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn-signin"%>		
			</div>	
		</div>
	</div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section id="slide-2">
<div class="row bggrid">
		<div class="col-sm-3">
			<div><h1 class="pagenum">2</h1></div>
		</div>
		<div class="col-sm-9">
			<div class="blah">
				<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn-signin"%>		
			</div>	
		</div>
	</div>
</section>

<section id="slide-3">
<div class="row bggrid">
		<div class="col-sm-3">
			<div><h1 class="pagenum">3</h1></div>
		</div>
		<div class="col-sm-9">
			<div class="blah">
				<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn-signin"%>		
			</div>	
		</div>
	</div>
</section>

<section id="slide-4">
<div class="row bggrid">
		<div class="col-sm-3">
			<div><h1 class="pagenum">4</h1></div>
		</div>
		<div class="col-sm-9">
			<div class="blah">
				<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn-signin"%>		
			</div>	
		</div>
	</div>
</section>


<section id="slide-5">
<div class="row bggrid">
		<div class="col-sm-3">
			<div><h1 class="pagenum">5</h1></div>
		</div>
		<div class="col-sm-9">
			<div class="blah">
				<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn-signin"%>		
			</div>	
		</div>
	</div>
</section>
