<!-- <p>edit page</p>

<%= form_for [@deed.user, @deed] do |f| %>
<div class="form-group">
	<%= f.text_field :to_id, placeholder: "I did a deed for...", class: "form-control id-width" %>
</div>

<div class="form-group">
	<%= f.text_area :body, placeholder: "What I did was...", class: "form-control body-width", rows: 6 %>
	<br>
	<%= f.submit "Save", class: "btn-custom" %> 
</div>
<% end %>	
-->





<!-- sign up form modal -->
<div class="modal show ">
	<div class="modal-dialog">
		<div class="modal-content modal-margin">
			<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Edit Deed</h4>
			</div>
			<div class="modal-body">
				<%= form_for [@deed.user, @deed] do |f| %>
				<div class="form-group">
					<%= f.text_field :to_id, placeholder: "I did a deed for...", class: "form-control id-width" %>
				</div>

				<div class="form-group">
					<%= f.text_area :body, placeholder: "What I did was...", class: "form-control body-width", rows: 6 %>
					<br>
					<%= f.submit "Save", class: "btn-custom-alt" %> 
				</div>
				<% end %>	
			</div>
		</div>
	</div>