<!-- Possible delete, in modal now -->

<%= render "partials/nav" %>
<div class="container-fluid set-width">

	<div class="center-block1">
		<h1>New Deed</h1>

		<%= form_for @deed, url: user_deeds_path do |f| %>
		<div class="form-group">
			<%= f.text_field :to_id, placeholder: "Deed for...", class: "form-control id-width" %>
		</div>
		<div class="form-group">
			<%= f.text_area :body, placeholder: "Enter deed", class: "form-control body-width", rows: 6 %>
		</div>
		<%= f.submit "Submit", class: "btn-custom" %>
		<% end %>

		<br>
		<%= link_to "Back to Profile", user_path(current_user), class: "btn-custom" %>
	</div>
</div>
